{
  "printWidth": 160,
  "singleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "wiki/**/*.md",
      "options": {"embeddedLanguageFormatting": "off"}
    }
  ]
}
